html {
  font-size: 10px;
  background: url("./img/background.jpg") no-repeat center;
  background-size: cover;
}

h1{
    text-align:center;
    font-weight:bold;
    font-size:4rem;
    color:white;
    padding-top:20px;
    text-shadow: 0 0 0.2rem black;
}
h2 {
    text-align:center;
    font-size:3rem;
    color:white;
    padding-top:20px;
    text-shadow: 0 0 0.2rem black;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex-wrap:wrap;
  flex:1;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  margin-top:-25px;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
footer {
    margin-bottom:0;
    text-align:center;
    color:white;
    font-size: 2rem;
    padding-bottom:40px;
}
@media (max-width:560px) {
  .key {
    border: 0.4rem solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    padding: 0.9rem 0.3rem;
    width: 8rem;
  }
}
